.board-details {
  grid-column: 1/-1;
  gap: 1px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 50px auto;
  background-size: cover;
  background-position: center;
  height: 100vh;
  // overflow-y: auto; //TEMPORARY!!!!
  // overflow: hidden;


}