.board-index {
    // grid-column: 3;
    display: grid;
    grid-template-columns: minmax(1rem, 204px) 256px 825px minmax(1rem, 204px);
    overflow: hidden;
    button {
        margin-inline-end: 0;
        padding: .3em .5em;
        background-color: $blue4;
    }
}