.board-details {
  grid-column: 1/-1;
  gap: 1px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 50px 52px 1fr 0.5em;
  background-size: cover;
  background-position: center;
  height: 100vh;

  .members {
  }
  // overflow-y: auto; //TEMPORARY!!!!
}
