.board-index {
  display: grid;
  // grid-template-columns: minmax(1rem, 204px) auto minmax(1rem, 204px);
  grid-template-rows: 150px auto;
  overflow: hidden;
  button {
    margin-inline-end: 0;
    padding: 0.3em 0.5em;
    background-color: $blue4;
  }
}
