@mixin flexCenter($justifyContent) {
  display: flex;
  justify-content: $justifyContent;
  align-items: center;
}

@mixin btn() {
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.app-header {
  @include flexCenter(space-between);
  padding: 0 1em;
  height: 50px;
  grid-column: 1/-1;

  section {
    &:first-of-type {
      @include flexCenter(space-between);

      & > * {
        margin-inline-end: 0.8em;
      }

      .menu {
        @include btn();
        margin-block-start: 4px;
      }

      a {
        @include flexCenter(center);

        .logo {
          width: 75px;
          margin-block-start: 3px;
        }
      }

      .create-btn {
        @include btn();
        width: 65px;
        height: 32px;
        color: $white;
        background-color: $blue1;
      }
    }
  }

  section {
    &:nth-of-type(2) {
      @include flexCenter(center);
      height: 100%;
      .login-btn {
        @include btn();
        background-color: transparent;
        font-size: 17px;
      }

      .signup-btn {
        @include btn();
        background-color: $blue1;
        height: 100%;
        font-size: 17px;
        border-radius: 0;
        color: $white;
      }

      .profile {
        @include flexCenter(center);
        width: 2em;
        height: 2em;
        padding: 1em;
        border-radius: 50%;
        color: $white;
        cursor: pointer;

        span {
          @include flexCenter(center);
          padding-block-start: 3px;
          height: 2em;
          width: 2em;
        }
      }
    }
  }
}
