@mixin flexCenter($justifyContent) {
  display: flex;
  justify-content: $justifyContent;
  align-items: center;
}

@mixin btn() {
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.app-header {
  display: grid;
  grid-template-columns: 1fr max-content;
  padding: 0 1em;
  height: 50px;
  grid-column: 1/-1;
  grid-row: 1;

  section {
    &:first-of-type {
      display: grid;
      grid-template-columns: 1fr;

      & > * {
        margin-inline-end: 0.8em;
      }

      .menu {
        @include btn();
        margin-block-start: 4px;
      }

      a {
        display: grid;
        grid-template-columns: max-content max-content;
        gap: 2px;
        width: fit-content;

        .logo-icon-img {
          grid-row: 1;
          place-self: center;
          width: 1em;
          margin-block-start: 3px;
        }
        .logo {
          grid-row: 1;
          place-self: center;
          font-weight: bold;
          font-size: 24px;
          color: #fff;
        }
      }

      .create-btn {
        @include btn();
        width: 65px;
        height: 32px;
        color: $white;
        background-color: $blue1;
      }
    }
  }

  section {
    &:nth-of-type(2) {
      // @include flexCenter(center);
      display: grid;

      height: 100%;
      .login-btn {
        @include btn();
        background-color: transparent;
        font-size: 17px;
      }

      .signup-btn {
        @include btn();
        background-color: $blue1;
        height: 100%;
        font-size: 17px;
        border-radius: 0;
        color: $white;
      }

      .profile {
        @include flexCenter(center);
        place-self: center end;
        width: 2em;
        height: 2em;
        padding: 1em;
        border-radius: 50%;
        color: $white;
        cursor: pointer;

        span {
          @include flexCenter(center);
          padding-block-start: 3px;
          height: 2em;
          width: 2em;
        }
      }
    }
  }
}
