@mixin flexCenter($justifyContent) {
  display: flex;
  justify-content: $justifyContent;
  align-items: center;
}

@mixin btn() {
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.app-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 1em;
  height: 50px;
  grid-column: 1/-1;
  grid-row: 1;

  // section {
  nav {
    display: grid;

    grid-template-columns: repeat(4, max-content);
    // justify-content: space-between;
    column-gap: 0.5em;
    align-items: center;
    width: 100%;

    // .menu {
    //   @include btn();
    //   margin-block-start: 4px;
    // }

    a {
      display: grid;
      grid-template-columns: max-content max-content;
      gap: 2px;
      width: fit-content;

      .logo-icon-img {
        grid-row: 1;
        place-self: center;
        width: 1em;
        margin-block-start: 3px;
      }
      .logo {
        grid-row: 1;
        place-self: center;
        font-weight: bold;
        font-size: 24px;
        color: #fff;
      }
    }

    .workspace-btn,
    .starred-btn {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      background-color: transparent;
      height: 32px;
      margin-inline-end: 4px;
      margin-inline-start: 0;
      margin-block-start: 7px;
      padding-inline-end: 10px;
      color: #44546f;
      padding: 6px 12px;
      border-radius: 3px;
      cursor: pointer;
      font-weight: 600;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      column-gap: 3px;
      border: none;
      outline: none;
      span {
        font-size: 14px;
      }
      svg {
        place-self: center;
        margin-block-start: 4px;
      }
      // line-height: 32px;
      // white-space: nowrap;
      &:hover {
        background-color: #caccd140;
      }
    }

    .create-btn {
      @include btn();
      width: 65px;
      height: 32px;
      color: $white;
      background-color: $blue1;
      margin-inline-start: 1em;
      &:hover {
        background-color: #287bef;
      }
    }
  }

  .header-right {
    display: grid;
    justify-items: end;
    align-items: center;
  }

  .user {
    display: grid;
    align-items: center;
    justify-content: end;
  }
}

@media (max-width: $mobile-breakpoint) {
  .app-header {
    nav {
      column-gap: 0;

      .workspace-btn,
      .starred-btn {
        margin-inline-end: 0;
        font-size: 10px;
      }

      .starred-btn {
        width: 80px;
      }
      .create-btn {
        margin-inline: 5px 0;
        width: 55px;
        padding: 9.5px 0;
      }
    }
  }
}
