.board-header {
  // grid-column: 2/-1;
  grid-row: 2;
  backdrop-filter: blur(4px);
  background: #0000003d;
  color: var(--ds-text);
  padding: 12px 10px 12px 16px;
  font-size: 14px;

  display: grid;
  // grid-template-columns: 1fr max-content max-content max-content;
  // grid-template-rows: max-content;
  // column-gap: 15px 50px 50px;
  // grid-auto-flow: column;
  grid-template-columns: max-content minmax(0, 1fr) repeat(3, max-content);
  position: relative;
  column-gap: 7px;

  &::after {
    opacity: 0.5;
    clear: both;
    content: "";
    display: table;
    grid-column: 2/-1;
    grid-row: 2;
  }

  .board-header-title {
    grid-row: 1;
    font-size: 18px;
    font-weight: 700;
    // color: #172b4d;
    color: #fff;
  }

  .starred {
    grid-row: 1;
    grid-column: 2;
    color: #fff;
    place-self: center start;
    margin-inline-start: 1em;
    font-size: 16px;
    cursor: pointer;
    transition: scale 0.15s ease;
    &:hover {
      scale: 1.2;
    }
  }

  .board-header-icon {
    font-size: 14px;
    padding: 6px 12px 6px 8px;
    color: #5e6c84;
  }

  .filter {
    grid-column: 2;
    grid-row: 1;
    place-self: center end;
    display: grid;
    grid-auto-flow: column;

    color: white;
    cursor: pointer;

    p {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: end;
      gap: 5px;
      margin: 0;
      padding: 0;
      padding-inline-end: 10px;

      font-size: 14px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-weight: 500;

      span {
        display: grid;
        svg {
          place-self: center;
        }
      }
    }
    .btn-clear {
      // grid-column: 3;
      // grid-row: 1;
      padding: 2px 10px 0 0;
      margin: 1px 0 0;
      border-right: 1px solid #5e6c84;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px;
      font-weight: 500;
      background-color: transparent;
      color: white;
    }
  }

  .members {
    grid-column: 3;
    grid-row: 1;
    display: grid;
    grid-auto-flow: column;

    li {
      place-self: center;
      padding-block-start: 1px;
      padding-inline-end: 0.5px;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      color: white;
      text-align: center;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .activity-menu {
    grid-row: 1;
    grid-column: 4;
    place-self: center end;
    display: grid;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    margin: 0;
    margin-inline-start: 4px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    &:hover {
      background-color: #d1cece3d;
    }

    span {
      place-self: center;
      display: grid;
      svg {
        place-self: center;
      }
    }
  }
}
