.board-header {
    -webkit-backdrop-filter: blur(8px); 
    backdrop-filter: blur(8px); 
    background: rgba(255, 255, 255, 0.5); 
    color: var(--ds-text); 
    height: 64px; 
    padding: 0 16px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1; 
    border-bottom: 1px solid #e2e4e6; 

    .board-header-title {
        font-size: 20px; 
        font-weight: 700; 
        color: #172b4d; 
    }

    .board-header-actions {
        display: flex;
        align-items: center;
    }

    .board-header-icon {
        font-size: 24px; 
        color: #5e6c84; 
        margin-left: 16px; 
    }
}
