.board-side-bar {
  grid-column: 1;
  grid-row: 2/150;
  display: grid;
  justify-items: center;
  font-size: 0.9rem;
  width: 260px;

  border-top: 1px solid gray;
  border-right: 1px solid gray;
  opacity: 0.9;
  backdrop-filter: blur(8px);

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;

    li:first-child {
      text-align: center;
      font-size: 20px;
      padding: 12px;
      border-bottom: 1px solid gray;
      background-color: inherit;
    }

     li:not(:first-child) {
      display: grid;
      justify-items: center;
      align-self: center;
      padding: 0.1rem;
      width: 100%;
      font-size: 14px;
      background-color: gray;
    }
  }
  
}
