.board-header {
  grid-column: 2/-1;
  grid-row: 2;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.5);
  color: var(--ds-text);
  // height: 64px;
  padding: 12px 10px 12px 16px;
  font-size: 14px;
    display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  .board-header-title {
    font-size: 18px;
    font-weight: 700;
    color: #172b4d;
  }

  .board-header-actions {
    display: flex;
    align-items: center;
  }

  .board-header-icon {
    font-size: 14px;
    padding: 6px 12px 6px 8px;
    color: #5e6c84;
  }
}
