.board-filter {
  display: grid;
  align-items: center;
  gap: 15px;
  padding: 0 12px 12px;
  width: 384px;

  .header {
    text-align: center;
  }

  h3 {
    font-size: 12px;
    margin: 16px 0 8px;
    color: #44546f;
    font-weight: 600;
  }

  input {
    padding: 8px 12px;
    box-shadow: inset 0 0 0 1px #091e4224;
    border: none;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 400;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 2px #388bff;
    }
  }

  .label-filter{
    grid-column: 1 / -1;
    display: grid;

    grid-template-columns: max-content 1fr;
    gap: 8px;
    align-items: center;
    width: 100%;
    padding: 0 0 8px 0;
  }
  
  input[type='text'] {
    height: 36px;
  }
  
  input[type='checkbox'] {
    
    height: 16px;
    width: 16px;
  }
  
  label {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    gap: 8px;
    align-items: center;
    height: 32px;
    // padding: 8px 0 8px 8px;
    font-size: 14px;
    color: #44546f;
  }

  .select-input {
    height: 36px;
    border: none;
    box-shadow: none;
  }


  .actions {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content max-content;
    align-items: center;
    gap: 15px;

    .select-labels {
      grid-column: 1 / -1;
      display: grid;
    }

  }

  .actions-members {
    display: grid;
  }
}