.board-filter {
  display: grid;
  align-items: center;
  gap: 15px;
  padding: 0 12px 12px;
  width: 384px;


  .actions {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content max-content;
    align-items: center;
    gap: 15px;

    .select-labels {
      display: grid;
    }

  }

  .actions-members {
    display: grid;
  }
}