.edit-task-description {
  display: grid;
  grid-template-columns: 70px 1fr;

  textarea {
    
    grid-column: 2;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .description-buttons {
    grid-column: 2;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 5px;

    button {
      width: max-content;
      margin: 0;
      margin-top: 5px;
      padding: 6px 12px;
      border-radius: 3px;
      font-size: 14px;
    }

    .save-description {
      background-color: #0c66e4;
      color: white;
    }

    .cancel-description {
      background-color: inherit;
      color: black;

      &:hover {
        background-color: #091e4224;
      }
    }
  }
}
