

/* עיצוב ל-Popover של EditLabel */
.popover-content-edit-label {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;
  max-width: 400px;
  max-height: 90vh;
  overflow-y: auto;
}

/* עיצוב תצוגת הלייבל */
.label-edit-container {
  display: flex;
  flex-direction: column;
}

.label-edit-container h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.label-edit-container .label-preview {
  height: 30px;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #f0f0f0;
}

.label-edit-container input[type="text"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
}


.label-edit-container .color-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 צבעים בכל שורה */
  gap: 5px; /* מרווח בין הצבעים */
}

.label-edit-container .color-item {
  width: 100%; /* הגדרה שתאפשר התאמה אוטומטית לרוחב העמודה */
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

.label-edit-container .color-item.selected {
  border: 2px solid #000;
}
/* כפתור הסרת צבע */
.remove-color-button {
  background: none;
  border: none;
  color: #ff6b6b;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}

/* כפתורי פעולה */
.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.action-buttons button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-btn {
  background-color: #28a745;
  color: #fff;
}

.save-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.delete-btn:hover {
  background-color: #c82333;
}

.create-btn {
  background-color: #0079bf;
  color: #fff;
}

.create-btn:hover {
  background-color: #005a91;
}

  
.labels-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}
