.group-preview {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  background-color: white;
  width: 284px;
  height: max-content;
  max-height: calc(100vh - 153px);
  border-radius: 12px;
  font-size: $font-size-groups-headers;
  color: #44546f;
  background-color: #eaeaeb;
  box-shadow: $box-shadow-group-preview;

  .header-and-actions {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 8px 8px 0;
    h3 {
      // margin: 0 4px;
      // margin: 0px 4px;
      // padding: 2px 4px;
      padding: 6px 8px 6px 12px;
      place-self: center start;
      font-size: 14px;
      font-weight: 600;
      color: #172b4d;
    }
    .hi-dots {
      height: 32px;
      width: 32px;
      cursor: pointer;
      padding: 8px;
    }

    button {
      margin: 0;
      padding: 0;
      background-color: #eaeaeb;
    }
  }
}
