.group-preview {
  background-color: white;
  margin: 1em;
  padding: 0 4px;
  width: 284px;
  height: max-content;
  border-radius: 12px;
  font-size: $font-size-groups-headers;
  color: #44546f;
  background-color: #f1f2f4;
  box-shadow: $box-shadow-group-preview;
  
  .header-and-actions{
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 8px 8px 0;
    h3 {
      margin: 0 4px;
      padding: 6px 8px 6px 12px;
    }
  
    button {
      margin: 4px 0;
    }
  }
}