.label-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.label-square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 12px;
  color: white;
  height: 32px;
  width: 48px;
  line-height: 6px;
  // display: inline-block;
  // text-align: center;
  .label-header {
    font-size: 9px;
    word-break: normal;
  }
}

.add-label-button {
  place-self: end;
  // margin-block-end: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 48px;
  background-color: #ebecf0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-label-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
