.menu {
  grid-column: 3/4;
  grid-row: 2 / 5;
  display: grid;
  grid-template-rows: repeat(3, max-content);
  background-color: #fff;

  .menu-header {
    grid-row: 1;

    display: grid;
    grid-template-rows: 1fr 0;
    grid-template-columns: 30px 1fr 30px;
    padding-inline: 12px;

    &::after {
      content: "";
      grid-column: 1 / -1;
      margin-top: 0em;
      height: 1px;
      width: 100%;
      background-color: #dddee1;
    }

    .close-btn {
      grid-row: 1;
      grid-column: 3;
      place-self: center;
      display: grid;
      cursor: pointer;
      width: 32px;
      height: 32px;
      border-radius: 8px;

      &:hover {
        background-color: #091e420f;
      }
      i {
        display: grid;
        place-self: center;

        svg {
          place-self: center;
        }
      }
    }

    h3 {
      // grid-row: 1;
      grid-column: 2;
      place-self: center;
      font-weight: 500;
      font-size: 16px;
      color: #172b4d;
      // margin-block-start: 7px;
      margin: 1em;
    }
  }

  .change-img {
    display: grid;
    grid-template-rows: 3em auto 1fr 100px;
    .change-bg-header {
      grid-row: 1;

      display: grid;
      grid-template-rows: 1fr 0;
      grid-template-columns: 30px 1fr 30px;
      padding-inline: 12px;

      &::after {
        content: "";
        grid-column: 1 / -1;
        margin-top: 0em;
        height: 1px;
        width: 100%;
        background-color: #dddee1;
      }

      .close-btn {
        grid-row: 1;
        grid-column: 3;
        place-self: center;
        display: grid;
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 8px;

        &:hover {
          background-color: #091e420f;
        }

        i {
          display: grid;
          place-self: center;

          svg {
            place-self: center;
          }
        }
      }

      .back-btn {
        grid-row: 1;
        grid-column: 1;
        place-self: center;
        display: grid;
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 8px;

        &:hover {
          background-color: #091e420f;
        }

        svg {
          display: grid;
          place-self: center;

          width: 20px;
          height: 20px;
          color: #44546f;
        }
      }

      h3 {
        grid-row: 1;
        grid-column: 2;
        place-self: center;
        font-weight: 500;
        font-size: 16px;
        color: #172b4d;
      }
    }

    .btns {
      grid-row: 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 30px;
      padding-block-start: 0.4em;

      .images-btn {
        position: relative;
        place-self: center;
        width: 150px;
        height: 96px;
        background-size: cover;
        border-radius: 8px;

        .photos-title {
          position: absolute;
          top: 8em;
          left: 4em;
        }
      }

      .colors-btn {
        position: relative;
        place-self: center;
        width: 150px;
        height: 96px;
        background-size: cover;
        border-radius: 8px;

        .colors-title {
          position: absolute;
          top: 8em;
          left: 4em;
        }
      }
    }

    .img-list {
      grid-row: 3/4;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5em;
      padding: 1em 0.5em 1em 1em;
      scrollbar-width: thin;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden;

      img {
        cursor: pointer;
        width: 144px;
        height: 96px;
        border-radius: 8px;
      }
    }

    .color-list {
      grid-row: 3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5em;
      padding: 1em 0.5em 1em 1em;
      scrollbar-width: thin;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden;
      .color {
        cursor: pointer;
        width: 144px;
        height: 96px;
        border-radius: 8px;
      }
    }
  }
}
