.menu {
  grid-column: 3;
  grid-row: 2/5;
  display: grid;

  display: grid;
  grid-template-rows: repeat(5, max-content);
  background-color: #fff;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 0.5s ease;

  .menu-header {
    grid-row: 1;

    display: grid;
    grid-template-rows: 1fr 0;
    grid-template-columns: minmax(0, 30px) 1fr minmax(10px, 30px);
    // grid-template-columns: 30px 1fr 30px;
    padding-inline: 12px;
    padding-block-end: 1em;

    &::after {
      content: "";
      grid-column: 1 / -1;
      margin-top: 0em;
      height: 1px;
      width: 100%;
      background-color: #dddee1;
    }

    .close-btn {
      grid-row: 1;
      grid-column: 3;
      place-self: center;
      display: grid;
      cursor: pointer;
      width: 32px;
      height: 32px;
      border-radius: 8px;

      &:hover {
        background-color: #091e420f;
      }
      i {
        display: grid;
        place-self: center;

        svg {
          place-self: center;
          width: 20px;
          height: 20px;
        }
      }
    }

    h3 {
      // grid-row: 1;
      grid-column: 2;
      place-self: center;
      font-weight: 500;
      font-size: 16px;
      color: #172b4d;
      // margin-block-start: 7px;
      margin: 1em;
    }
  }

  .change-bg {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: -1px;
      right: -1px;
      top: 2em;
      margin-top: 1.5em;
      height: 1px;
      background-color: #dddee1;
      width: auto;
    }
  }

  .menu-btn {
    display: grid;
    grid-template-columns: 20px 1fr;
    // grid-template-rows: auto auto;
    align-content: center;
    background-color: transparent;
    height: 32px;
    column-gap: 10px;
    padding: 6px 12px;
    margin: 0;
    margin-inline: 0.9em;
    margin-block-end: 5px;
    border-radius: 8px;
    border: none;
    outline: none;
    &:focus {
      border: none;
      outline: none;
    }
    &:hover {
      background-color: #091e420f;
    }

    &.copy-board-btn {
      margin-block-start: 24px;
    }

    svg {
      grid-row: 1;
      // font-size: 16px;
      width: 16px;
      height: 16px;
      color: #172b4d;
    }

    .activity-btn {
      grid-row: 1;
      place-self: center start;
      color: #172b4d;
      font-weight: 400;
      margin-block-start: 3px;
    }

    .color-container {
      grid-row: 1;
      place-self: center;
      height: 20px;
      width: 20px;
      border-radius: 3px;
    }

    .change-bg-btn {
      grid-row: 1;
      display: grid;
      text-align: start;
      place-self: center start;
      color: #172b4d;
      font-weight: 400;
      margin-block-start: 3px;
    }

    .shae-icon {
      width: 18px;
      height: 18px;
    }

    .btn {
      display: grid;
      text-align: start;
      place-self: center start;
      color: #172b4d;
      font-weight: 400;
    }
  }

  .change-img {
    display: grid;
    grid-template-rows: 3em auto max-content 500px;
    .change-bg-header {
      grid-row: 1;

      display: grid;
      grid-template-rows: 1fr 0;
      grid-template-columns: minmax(10px, 30px) 1fr minmax(10px, 30px);
      padding-inline: 12px;
      width: 100%;

      &::after {
        content: "";
        grid-column: 1 / -1;
        margin-top: 0em;
        height: 1px;
        width: 100%;
        background-color: #dddee1;
      }

      .close-btn {
        grid-row: 1;
        grid-column: 3;
        place-self: center;
        display: grid;
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 8px;

        &:hover {
          background-color: #091e420f;
        }

        i {
          display: grid;
          place-self: center;

          svg {
            place-self: center;
            width: 20px;
            height: 20px;
          }
        }
      }

      .back-btn {
        grid-row: 1;
        grid-column: 1;
        place-self: center;
        display: grid;
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 8px;

        &:hover {
          background-color: #091e420f;
        }

        svg {
          display: grid;
          place-self: center;

          width: 20px;
          height: 20px;
          color: #44546f;
        }
      }

      h3 {
        grid-row: 1;
        grid-column: 2;
        place-self: center;
        font-weight: 500;
        font-size: 16px;
        color: #172b4d;
      }
    }

    .btns {
      grid-row: 2;
      place-self: center;
      display: grid;
      grid-template-columns: 150px 150px;
      grid-template-rows: minmax(0, 96px) 30px;
      padding-block-start: 0.4em;
      gap: 5px;

      .images-btn {
        grid-column: 1;
        grid-row: 1;
        place-self: center;
        height: 100%;
        width: 100%;
        background-size: cover;
        border-radius: 8px;
        margin: 0;
      }

      .photos-title {
        grid-column: 1;
        grid-row: 2;
        font-size: 14px;
        place-self: start center;
        color: #172b4d;
      }

      .colors-btn {
        grid-column: 2;
        grid-row: 1;
        place-self: center;
        height: 100%;
        width: 100%;
        background-size: cover;
        border-radius: 8px;
        margin: 0;
      }
      .colors-title {
        grid-column: 2;
        grid-row: 2;
        font-size: 14px;
        place-self: start center;
        color: #172b4d;
      }
    }

    .img-list {
      grid-row: 3/4;
      display: grid;
      grid-template-columns: 144px 142px;
      gap: 0.5em;

      padding: 1em 0 0 1em;
      scrollbar-width: thin;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden;
      padding-bottom: 150px;

      img {
        cursor: pointer;
        height: 96px;
        width: 100%;
        border-radius: 8px;
      }
      .loading {
        position: absolute;
        bottom: 1px;
        width: 100%;
        height: 20px;
        padding: 2px 4px;
        background: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        font-size: 12px;
        line-height: 16px;
        border-radius: 0 0 8px 8px;
      }
    }

    .color-list {
      grid-row: 3/4;
      display: grid;
      grid-template-columns: 144px 142px;
      gap: 0.5em;
      padding: 1em 0 0 1em;
      scrollbar-width: thin;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden;
      padding-bottom: 150px;

      .color {
        cursor: pointer;
        height: 96px;
        width: 100%;
        border-radius: 8px;
      }

      .loading {
        position: absolute;
        bottom: 1px;
        width: 100%;
        height: 20px;
        padding: 2px 4px;
        background: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        font-size: 12px;
        line-height: 16px;
        border-radius: 0 0 8px 8px;
      }
    }
  }
}

.menu-closed {
  transform: translateX(100%);
}

@media (width<$mobile-breakpoint) {
  .board-details {
    position: relative;
    .menu {
      bottom: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 305px;

      .img-list {
        padding: 1em 0 0 5px;
      }

      .color-list {
        padding: 1em 0em 0 5px;
      }
    }
  }
}
