.search-container {
  & form {
    display: flex;

    input[type="text"] {
      font-size: 17px;
      border: 1px solid $gray1;
      border-inline-end: none;

      &:focus {
        border: none;
      }
    }

    .search-btn {
      display: flex;
      justify-content: center;
      padding: 0.5em;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
  }
}

.search-results {
  position: fixed;
  top: 2.8em;
  right: 4em;
  background-color: #ffffff;
  width: 260px;
  z-index: 4;
}
