.task-details {
  display: grid;
  grid-template-columns: 1fr max-content;
  word-break: break-all;

  dialog {
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-columns: 1fr max-content;
    width: 768px;
    height: auto;

    background-color: #fff;
    border-radius: 8px;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: fixed;
    scrollbar-width: none;

    &::backdrop {
      // display: none;
      height: 200vh;
      overflow-y: auto;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    form {
      // width: 100%;
      // height: 100%;
      padding: 0 16px 8px 8px;
      grid-column: 1;

      header {
        display: inline;
        grid-column: 1 / -1;
        grid-row: 1;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 20px;
        color: #333;
        cursor: pointer;
      }
    }

    input[type="text"] {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 10px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

      &:focus {
        border-color: #0079bf;
        outline: none;
      }
    }

    .close-btn {
      position: absolute;
      top: 5px;
      right: 15px;
      color: black;
    }

    .delete-btn {
      color: black;
    }

    .actions {
      display: grid;
      align-self: start;
      grid-row: 1/-1;
      grid-column: 2;
      padding: 0 16px 8px 8px;
      margin-block-start: 2.5rem;
      width: 168px;
      font-size: $font-size-task-details-actions;

      .action-btn {
        display: grid;
        grid-template-columns: max-content 1fr;
        justify-items: start;
        align-items: center;
        height: 32px;
        margin: 8px 0 0;
        padding: 6px 12px;
        width: 100%;
        font-weight: 500;
        border-radius: 3px;
        font-size: 14px;
        background-color: #091e420f;
        color: #172b4d;
        cursor: pointer;
        span {
          grid-column: 1;
          height: 16px;
          width: 16px;
        }

        p {
          margin: 0 0 0 8px;
          grid-column: 2;
        }

        &:hover {
          background-color: #091e4224;
        }
      }

      .checklist {
        // display: grid;
        // grid-template-columns: max-content 1fr;
        // justify-content: center;
        // // background-color: $bg-color-article-actions;
        // cursor: pointer;

        // p {
        //   margin: 0 0 0 8px;
        // }

        .checklist-modal {
          z-index: 10000000000000000000;
        }
      }
    }
  }

  .editable-description {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: text;
    min-height: 40px;
    white-space: pre-wrap;
  }

  .editable-description:hover {
    background-color: #eaeaea;
  }

  textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}
