.task-details {
  display: grid;
  grid-template-columns: 1fr max-content;

  dialog {
    display: grid;
    grid-template-rows: 1fr max-content;
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    &::backdrop {
      // display: none;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    form {
      width: 100%;
      height: 100%;
      grid-column: 1;

      header {
        display: inline;
        grid-column: 1 / -1;
        grid-row: 1;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 20px;
        color: #333;
        cursor: pointer;
      }
    }

    input[type="text"] {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 10px;

      &:focus {
        border-color: #0079bf;
        outline: none;
      }
    }

    .close-btn {
      position: absolute;
      top: 15px;
      right: 15px;
      color: black;
    }

    .delete-btn {
      color: black;
    }

    // button {
    //   position: absolute;
    //   top: 15px;
    //   right: 15px;
    //   background: none;
    //   border: none;
    //   font-size: 1.2rem;
    //   cursor: pointer;
    //   color: #aaa;

    //   &:hover {
    //     color: #000;
    //   }
    // }
  }

  .editable-description {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: text;
    min-height: 40px;
    white-space: pre-wrap;
  }

  .editable-description:hover {
    background-color: #eaeaea;
  }
}

// body::before {
//   content: '';
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.4);
//   z-index: 999;
// }

//

// .overlay {
//   position: fixed;
//   inset: 0;
//   background-color: #000;
//   opacity: 0.7;
//   z-index: 5;
// }
