.task-preview-modal {
  textarea {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 8px 12px 4px;
    border-radius: 8px;
    border: 1.6px solid transparent;
    background-color: $bg-color-task-preview;
    color: $color-task-preview;
    box-shadow: $box-shadow-task-preview;
  }
}

.task-preview-modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 5;
  background-color: #00000099;
}
