.task-preview {
  margin: 0 4px;
  padding: 8px 12px 4px;
  border-radius: 8px;
  border: 1.6px solid transparent;
  background-color: $bg-color-task-preview;
  color:  $color-task-preview;
  box-shadow: $box-shadow-task-preview;

  cursor: pointer;
  &:hover {
    // box-shadow: $box-shadow-task-preview-hover;
    border: 1.6px solid $blue1;
  }
}
