.task-preview {
  position: relative;
  display: grid;
  // grid-template-rows: 0 max-content 1fr max-content;
  // padding: 6px 0px 8px;
  padding: 8px 12px 4px;

  width: 100%;
  border-radius: 8px;
  border: 1.6px solid transparent;
  background-color: $bg-color-task-preview;
  color: $color-task-preview;
  box-shadow: $box-shadow-task-preview;
  // max-width: 284px;
  cursor: pointer;
  word-break: break-all;

  &:hover {
    .edit-btn {
      opacity: 1;
      background-color: #eaeaec;
    }
  }

  a {
    display: grid;

    // grid-template-rows: max-content 1fr max-content;
    // row-gap: 8px;
    .cover-container {
      // grid-row: 1;
      border-radius: 8px 8px 0 0;
      // margin-bottom: 8px;
    }
  }

  .labels {
    // grid-row: 2;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 4px;
    margin: 0 0 4px;
    max-width: 232px;
    // padding-inline: 12px;

    .label-square {
      margin: 0;
      height: 8px;
    }
  }

  span {
    // grid-row: 3;
    // margin: 0 0 4px;
    margin: 0;
    word-break: normal;
    // padding-inline: 12px;
  }

  .edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 2px 0 0 0;
    background-color: transparent;
    border-radius: 16px;
    font-size: 14px;
    height: 2em;
    width: 2em;
    color: #172b4d;
    opacity: 0;
  }

  &:hover {
    border: 1.6px solid $blue1;

    .edit-btn {
      display: block;
    }
  }

  .details {
    // position: relative;
    // padding-inline: 12px;
    grid-row: 4;
    display: grid;
    padding-block-start: 12px;
    // grid-template-columns: repeat(3, 1fr);
    // grid-row: 1fr 1fr;
    // grid-template-columns: auto 80px;
    align-items: center;

    // justify-content: space-between;
    // column-gap: 10px;
    .due-date-container {
      margin: 0 0 4px;

      .due-date-display {
        .date-item {
          .date-label {
            display: none;
          }
          .date-container {
            background-color: transparent;
            display: grid;
            grid-template-columns: 16px max-content max-content;
            // height: 23px;

            // padding: 0;
            padding: 2px 4px;
            border-radius: 3px;

            .date-label {
              display: none !important;
            }

            span {
              &:first-of-type {
                place-self: center;
                display: grid;
                grid-auto-flow: column;
                justify-content: center;

                svg {
                  margin-block-end: 1px;
                }
              }
            }

            &.green-bg {
              background-color: #1f845a;
              color: #fff;
            }

            .checkbox-icon {
              // display: grid;
              padding: 0;
              margin: 2px 0 0 0;
            }

            input[type="checkbox"] {
              padding: 0;
              margin: 0;
            }

            // span {
            //   margin: 0;
            // }
            .checkbox-icon {
              // display: grid;
              margin: 0 0 0.53px 0;
            }

            .date-value {
              place-self: center;
              font-size: 12px;
              padding: 0;
              margin: 0;
            }

            .date-picker-icon {
              display: none;
            }
          }
        }
      }
    }

    .checklist-container {
      display: grid;
      margin: 0 0 4px;
      padding-top: 1px;
      .checklists {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: max-content max-content;
        // grid-column: 2;
        // margin-bottom: 2px;
        padding: 2px 4px;
        place-self: start;
        // margin: 0 0 4px;
        // grid-column: 4/5;
        // place-self: center;
        gap: 4px;
        justify-content: end;
        align-items: center;
        font-size: 12px;
        border-radius: 3px;
        font-weight: 500;

        &.green-bg {
          background-color: #1f845a;
          color: #fff;
        }
      }
    }

    .members {
      grid-column: 3;
      // grid-row: 1;
      display: grid;

      justify-content: end;
      height: max-content;
      align-self: self-end;

      .list-container {
        display: grid;
        justify-items: end;
        grid-template-columns: max-content max-content;
        margin-right: -6px;
        margin-bottom: 2px;
        // justify-content: right;
        // justify-items: end;
        // float: right;

        li {
          display: grid;
          align-content: center;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          text-align: center;
          color: white;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

@media (width<$mobile-breakpoint) {
  .task-preview {
    .edit-btn {
      opacity: 1;
      background-color: #eaeaec;
    }
  }
}
