.task-details {
  display: flex;
  padding: 0;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    pointer-events: all;
  }

  form {
    h1 {
      margin: 0;
    }

    button {
      background-color: transparent;
      color: #000;

      span {
        color: #000;
      }
    }
  }
}

// .overlay {
//   position: fixed;
//   inset: 0;
//   background-color: #000;
//   opacity: 0.7;
//   z-index: 5;
// }
