.task-preview {
  position: relative;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  margin: 0 4px;
  padding: 8px 12px 4px;
  border-radius: 8px;
  border: 1.6px solid transparent;
  background-color: $bg-color-task-preview;
  color: $color-task-preview;
  box-shadow: $box-shadow-task-preview;
  cursor: pointer;
  max-width: 256px;
  word-break: break-all;

  .labels {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 4px;
    margin: 0 0 4px;
    max-width: 232px;

    .label-square {
      margin: 0;
      height: 8px;
    }
  }

  span {
    grid-row: 2;
    max-width: 232px;
  }

  .edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 0 0 0;
    background-color: transparent;
    border-radius: 16px;
    font-size: 14px;
    height: 2em;
    width: 2em;
    color: #172b4d;
    opacity: 0;

    &:hover {
      opacity: 1;
      background-color: #eaeaec;
    }
  }

  &:hover {
    border: 1.6px solid $blue1;

    .edit-btn {
      display: block;
    }
  }

  .details {
    position: relative;
    grid-row: -1;
    display: grid;
    // grid-auto-flow: column;
    grid-template-columns: auto 80px;
    align-items: center;

    .checklists {
      display: grid;
      grid-auto-flow: column;
      gap: 4px;
      justify-content: end;
      align-items: center;
      font-size: 12px;
    }

    .members {
      grid-column: 2;
      display: grid;

      justify-content: end;
      height: 100%;
      .list-container {
        display: grid;
        li {
          display: grid;
          align-content: center;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          text-align: center;
          color: white;
        }
      }
    }
  }
}
