.actions {
  display: grid;
  gap: 4px;


  .action-btn {
    margin: 0;
    display: grid;
    justify-content: start;
    width: max-content;



    span {
      grid-column: 1;
      height: 16px;
      width: 16px;

    }

    p {
      margin: 0 0 0 8px;
      grid-column: 2;

    }

  }

  .checklist {


    .checklist-modal {
      z-index: 10000000000000000000;
    }
  }
}