// Colors
$blue1: #0c66e4;
$blue2: #81b2f6;
$blue3: #2b64b4;
$blue4: #3685f4;

$white: #fff;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

$error: rgb(241, 52, 52);

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

$tr-icon-star: #e2b203;

$new-board-bg-color: #80808024;
$new-board-hover-bg-color: #4b4a4a24;
$bg-color-task-list: #f1f2f4;
$color-task-list-a: #172b4d;
$color-task-preview: #172b4d;
$bg-color-task-preview: #ffffff;
$bg-color-task-preview: #ffffff;

$bg-color-article-actions: #091e420f;

$font-size-groups-headers: 14px;
$font-size-task-details-actions: 14px;

$ds-shadow-raised: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;

$box-shadow-group-preview: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px,
  rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
$box-shadow-task-preview: var(
  --ds-shadow-raised,
  0px 1px 1px #091e4240,
  0px 0px 1px #091e424f
);
$box-shadow-task-preview-hover: rgb(67 122 216) 0px 1px 1px 0px,
  rgb(67 122 216) 0px 0px 1px 0px;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
