// Colors
$blue1: #0c66e4;
$blue2: #81b2f6;
$blue3: #2b64b4;
$blue4: #3685f4;

$white: #fff;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

$error: rgb(241, 52, 52);

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

$new-board-bg-color: #80808024;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
